.monster-info{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background-image: url('./MonsterImage/tab.webp');
    background-size: cover;
    height: 280px;
    width: 210px;
    color: rgb(218, 161, 17);
    text-shadow: 1px 1px 2px black;
    padding-top: 7px;
    padding-left: 5px;
    align-items: center;
}

.choose-monster{
    color: rgb(218, 161, 17);
    border: solid black 3px;
    font-size: 20px;
    background: rgb(116, 71, 71);
    margin-bottom: 5px;
    padding-left: 40px;
    padding-right: 30px;
    width: 140px;
}

.monster-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-row {
    display: flex;
    gap: 10px;
}
.stats-row div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.monster-image{
    width:50px;
    height:50px;
}

.number-input {
    width: 50px;
}

.spec-input {
    display: flex;
    justify-content: space-between;
    width: 230px;
}

.spec-input img {
    height: 20px;
}

.all-specs {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.specs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.specs .buttons {
    padding-left: 30px;
    display: flex;
    gap: 10px;
}

.current-version{
    width: 100px;
}

.slider {
    gap: 20px;
}
.monster-area {
    display: flex;
    gap: 25px;
}