.itemStats{
    display: flex;
    flex-direction: column;
    width: 130px;
}
.allStats{
    display: flex;
}
.popup{
    display: flex;
}

[role='tooltip'].item-popup-content{
    width: 500px;
}

.stats-container{
    border: 1px black solid;
    gap: 5px;
    padding-left: 10px;
    padding-top: 10px;
}