.itemStats{
    display: flex;
    flex-direction: row;
    width: 397px;
}

.itemStats div {
    display: flex;
    flex-direction: column;
}

.item-Stats{
    display: flex;
    flex-direction: column;
}
.allStats{
    display: flex;
}
.popup{
    display: flex;
}

[role='tooltip'].item-popup-content{
    width: 450px;
    padding-bottom: 30px;
}

.stats-container{
    border: 1px black solid;
    gap: 30px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: rgb(106, 76, 53);
}

.stats-container a {
    color: rgb(218, 161, 17);
    text-shadow: 1px 1px 2px black;
}