.itemsAndStats{
    display: flex;
}
.container {
    background-image: url('./Default/Background.webp');
    width: 205px;
    height: 275px;
}
.item {
    width: 35px;
    height: 35px;
    position: relative;
}

.item img{
    position: relative;
    left: 3px;
    top: 3px;
}

.helmet {
    left: 85px;
    top: -128px;
}
.helmet img{
    left: 7px;
}

.neck {
    left: 85px;
    top: -265px;
}
.neck img{
    left: 6px;
}

.body{
    left: 85px;
    top: -85px;
}

.legs{
    left: 85px;
    top: -80px;
}

.legs img {
    left: 10px;
}

.feet{
    left: 85px;
    top: -110px;
}

.ammo{
    left: 125px;
    top: -55px;
}

.ammo img{
    left: 4px;
    top: 4px;
}

.offhand {
    left: 141px;
    top: 55px;
}

.ring {
    left: 141px;
    top: -180px;
}

.ring img{
    left: 1px;
}

.cape {
    left: 43px;
    top: -20px;
}

.cape img{
    left: 6px;
    top: 4px;
}
.mainhand {
    left: 29px;
    top: 90px;
}
.hands{
    left: 29px;
    top: -75px;
}
.hands img{
    top: 6px;
}

.Displays {
    display: flex;
    flex-direction: row;
}