.containerApp {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

body {
    background: rgb(160, 156, 157);
}

.all-sets{
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.username-lookup{
    width: 110px;
}

.title {
    display: flex;
    font-size: 20px;
    position: relative;
    gap: 300px;
}

.icon {
    width: 30px;
    height: 30px;
}